@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

@import "tailwindcss";
/* @import "tailwindcss/preflight"; */

@theme {
  --font-cinzel-decorative: "Cinzel Decorative", serif;
  --font-east-sea-dokdo: "East Sea Dokdo", cursive;
  --font-a-bee-zee: "ABeeZee", sans-serif;

  /* Text colors */
  --color-text-base: #f0f0f0;
  --color-text-primary: #edf1db;
  --color-text-secondary: #62bdba;

  /* Background colors */
  --color-bg-primary: #00060c;
  --color-bg-secondary: #031e2a;

  /* Interactive colors */
  --color-btn: #01515e;
  --color-hover: #2b8087;
}

@layer components {
  /* Section wrapper for all main sections */
  .section-container {
    @apply min-h-screen max-w-screen-lg mx-auto relative flex flex-col items-center justify-center py-[120px] gap-20;
  }

  /* Content wrapper for centered content */
  .content-wrapper {
    @apply flex flex-col items-center justify-center z-50 max-w-screen-lg mx-auto;
  }

}

@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-timeline: smooth;
  }

  :target {
    scroll-margin-block: 5rem;
    scroll-timeline: smooth;
    transition: scroll-position 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
